<div class="banner">
  <div class="container">
    <h1>Cocktails</h1>
    <p><%= link_to 'Create a new cocktail',  new_cocktail_path %></p>
  </div>
</div>
<div class="content">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktails-card .col-lg-3">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <img src="">
      </div>
    <% end %>
</div>
</div>

