.cocktails-card {
  background-image: url('../../images/cocktails/amaretto_sour.png');
  width: 300px;
  height: 400px;
  margin: 10px;
  padding: 10px;
}

.cocktails-card a {
  color: black;
  text-transform: uppercase;
  text-align: center;
}
